<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControleDeAcesso.Properties.Settings.controledeacessocfoConnectionString"
            connectionString="User Id=root;Host=localhost;Database=controledeacessocfo"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>